.collection-wrapper{
    background-color:#f8f8f8;
}
.collections{
    padding: 15px 0px 40px;
}
.collection-subtitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.collection-subtitle-text{
    color: #363636;
    font-size: 18px;
    font-weight: 500;
}
.collection-location{
    color: var(--zomato-red);
}
.collection-cover{
    height: 320px;
    width: 260px;
    margin-right: 20px;
    border-radius: 6px;
    position: relative;
}
.grident-bg{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 85%);
    border-radius: 6px;
}
.collection-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.collection-card-title{
    position: absolute;
    left: 16px;
    bottom: 30px;
    font-size: 18px;
    color: #fff;
}
.collection-card-subtitle{
    display: flex;
    color: #ffffff;
    position: absolute;
    left: 16px;
    bottom:10px;
    font-size: 14px;
}
.iconss{
    position: absolute;
    left: 65px;
    bottom:-3px;
    font-size: 14px;
}