.delivery-item-cover{
    height: 190px;
    width: 260px;
    background-color: #9b9191;
    box-shadow: var(--collection-shadow);
    border-radius: 8px;
}

.delivery-items-image{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}
.delivery-item-title{
    font-size: 20px;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 6px;
}